@{
    ViewBag.Title = "News";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Keep up to date with the latest news. Our goal is to simplify the storage and editing of your written papers.</p>
<p>We hope to improve your quality of life with the functionality of this project.</p>
