@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>

<address>
    One Sacla Way<br />
    PE<br />
    <abbr title="Phone">Phone:</abbr>
    041 656 8847
</address>

<address>
    <strong>Support:</strong>   <a href="#">Support@sacla.com</a><br />
    <strong>Marketing:</strong> <a href="#">Marketing@sacla.com</a>
</address>